:root {
  --bg: black;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background: white;
  border: 2px solid var(--bg);
  outline: 1px solid white;
  width: 360px;
  height: 640px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body > div {
  display: flex;
}

div > div {
  font-family: monospace;
  color: white;
  padding: 2em;
  max-width: 400px;
}

@font-face {
  font-family: 'FlappyBirdRegular';
  src: url('assets/fonts/FlappyBirdRegular.ttf');
}